html {
    font-family: sans-serif;
    /* overflow-x: hidden; */
  }
  .container {
      width: 100%;
      /* display: grid;
      grid-template-columns: 1fr 1fr; */
      max-width: 600px;
      margin: 0 auto;
      margin-top: 2em;
  }
  .container:after {
      content: '';
      clear: both;
  }
  body {
    /* width: 50%; */
    /* margin: 20px 0  0 auto; */
    /* background: url('/images/numbers.jpg');      */
    background: linear-gradient(to left, rgb(56, 142, 218), #3dfaaa), url('/images/numbers.jpg');
    /* url('/images/numbers.jpg'); */
    ;

    /* color: rgb(211, 210, 209); */
    color: #fff;
    font-size: 17;
    font-family: 'Courier New', Courier, monospace;
    /* padding:20px; */
  }
  .lastResult {
    color: white;
    padding: 3px;
  }
  .right {
      /* float: right; */
      width: 50vw;
  }
  .left {
      /* float: left; */
      width: 50vw;
  }
  .slideIn {
      /* margin-top:5px; */
      display: none;
      transition: 2s;
      line-height: 1;
      /* text-align: center; */
  }
  .slideIn > h3 {
      margin-top: 2em;
      /* Some breating space for the Tips */
  }
  .col > i {
      position: relative;
      left: 20px;
      text-align: right;
      top: 2vw;
  }
  @media(max-width: 500px) {
      .right {
          width: 100vw;
      }
  }

.resultParas {
    transition: 0.2s ease-in;
}
.guesses, .lastResult {
    transition: 0.5s ease-in all;    
}

/* Components and Buttons*/
.guessSubmit {
    padding: 2px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #3dfaaa;
    color: #fff;
}
.guessField {
    border-radius: 5px;
    padding: 2px;    
    border: 1px solid rgb(56, 142, 218);
    /* width: 100px;     */
}

/* SLide Down */
.left {
    transition: 1.5s ease-in all;
    
}
.slide {
    /* height: 200px; */
    display: inline;
    
}
.slide > h3, .slide > p{
    transition: 1.5s ease-in all;
}

.col i:hover {
    cursor: pointer;
}
.slideIn